{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel-heading border">
    <h3>Vocal List</h3>
</div>

<div class="panel-body">
    <div class="table-responsive">
        {% for vocal in data %}
            <a id="{{ vocal.vocal_id }}" href="{% url 'vocal:vocal_detail' vocal.vocal_id %}">
                <div class="list-vocal">
                    {{ vocal.vocal_name|default_if_none:'' }}
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

