<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
           data-toggle="layout-small-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <nav role="navigation">
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                    <span class="">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>